* {
  padding: 0;
  margin: 0;
  box-sizing: o;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#header {
  border-bottom: 1px solid #8d8d8d;
  width: 100%;
  height: 60px;
  position: fixed;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin: auto;
  justify-content: center;
  text-align: center;
  display: flex;
  z-index: 99999;
}
#header .logo {
  width: 25%;
  margin-left: 100px;
  margin: auto;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  justify-content: right;
  text-align: right;
}
#header .logo h1 {
  position: relative;
  left: 0;
  font-family: "Work Sans" !important;
  font-size: 18px;
  font-weight: 900;
}
#header .logo h1 a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
#header .menu {
  position: relative;
  width: 55%;
  margin: auto;
  font-size: 11px;
  text-align: left;
}
#header .menu nav ul {
  list-style-type: none;
}
#header .menu nav ul li {
  display: inline-block;
  color: #d8d8d8;
}
#header .menu nav ul li .dropdown {
  position: relative;
  display: inline-block;
}
#header .menu nav ul li .dropdown .dropdown-content {
  margin-top: 3px;
  margin-left: -15px;
  display: none;
  position: absolute;
  width: 95px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 12px 16px;
}
#header .menu nav ul li .dropdown .dropdown-content a {
  color: #000;
}
#header .menu nav ul li .dropdown .dropdown-content .more-links {
  width: 100%;
  position: relative;
  display: inline-block;
}
#header .menu nav ul li .dropdown .dropdown-content .more-links .link-content {
  margin-top: -25px;
  margin-left: 80px;
  display: none;
  position: absolute;
  width: 95px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 12px 16px;
}
#header .menu nav ul li .dropdown .dropdown-content .more-links:hover .link-content {
  display: block;
}
#header .menu nav ul li .dropdown a {
  margin-top: 4px;
  margin-bottom: 4px;
  color: #ffffff;
  display: inline-block;
}
#header .menu nav ul li .dropdown:hover .dropdown-content {
  display: block;
}
#header .menu nav ul li a {
  color: #ffffff;
  margin-right: 30px;
  text-decoration: none;
}

#intro {
  background-image: url(../photo/intro.jpg);
  width: 100%;
  position: relative;
  height: 100vh;
}
#intro .group {
  text-align: center;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
#intro .group .intro-content h2 {
  text-transform: uppercase;
  color: white;
  font-size: 30px;
  font-size: 2rem;
  font-weight: 900;
}
#intro .group .get-in-touch {
  margin-top: 40px;
}
#intro .group .get-in-touch a {
  background-color: rgb(11, 123, 214);
  width: 100px;
  padding: 8px 20px 10px 20px;
  font-size: 12px;
  text-align: center;
  justify-content: center;
  border-radius: 30px;
  text-decoration: none;
  color: wheat;
}
#intro .group .get-in-touch:hover a {
  background-color: #000;
}
#intro .overlay {
  width: 100%;
  height: 100%;
  background-color: #000000;
  top: 0;
  position: absolute;
  opacity: 0.4;
  z-index: 1;
}

#about {
  margin-top: 50px;
  width: 60%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#about h2 {
  color: #007bff;
  font-weight: 900;
  text-align: center;
  margin-bottom: 40px;
}
#about .about-contents {
  display: flex;
  justify-content: center;
}
#about .about-contents figure {
  width: 70%;
  margin-right: 40px;
}
#about .about-contents figure img {
  width: 90%;
}
#about .about-contents .about-content {
  margin-left: 10px;
  width: 50%;
}
#about .about-contents .about-content h3 {
  font-weight: 400;
  margin-bottom: 20px;
}
#about .about-contents .about-content p {
  color: #838181;
  font-size: 12px;
  margin-bottom: 20px;
}
#about .about-contents .about-content ul {
  color: #838181;
}
#about .about-contents .about-content ul li {
  position: relative;
  list-style-type: none;
  padding-left: 18px;
  margin-bottom: 15px;
  font-size: 12px;
}
#about .about-contents .about-content ul li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
  width: 3px;
  height: 8px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #43b86a;
  transform-origin: bottom left;
  transform: rotate(45deg);
}
#about .about-contents .about-content .get-in-touch {
  margin-top: 40px;
}
#about .about-contents .about-content .get-in-touch a {
  background-color: rgb(11, 123, 214);
  width: 100px;
  padding: 8px 20px 10px 20px;
  font-size: 12px;
  text-align: center;
  justify-content: center;
  border-radius: 30px;
  text-decoration: none;
  color: wheat;
}
#about .about-contents .about-content .get-in-touch:hover a {
  background-color: #000;
}

#team {
  margin-top: 50px;
  width: 60%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#team h2 {
  color: #007bff;
  font-weight: 900;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 10px;
}
#team p {
  margin: auto;
  text-align: center;
  width: 55%;
  color: grey;
  font-size: 14px;
}
#team .top {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 5px;
  width: 100%;
}
#team .top .member {
  display: inline;
  width: 22%;
  margin-right: 20px;
}
#team .top .member h3 {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
}
#team .top .member span {
  font-size: 10px;
  color: #838181;
  text-transform: uppercase;
  margin-left: 5px;
}
#team .top .member figure:hover ul {
  display: block;
}
#team .top .member figure {
  position: relative;
}
#team .top .member figure ul {
  background-color: #007bff;
  position: absolute;
  list-style: none;
  padding: 5px 5px;
  height: 93%;
  display: none;
}
#team .top .member figure ul li {
  margin-bottom: 10px;
}
#team .top .member figure ul li a {
  color: #d8d8d8;
}
#team .top .member figure img {
  width: 100%;
  height: 90%;
}
#team .bottom {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 5px;
  width: 100%;
}
#team .bottom .member {
  display: inline;
  width: 22%;
  margin-right: 20px;
}
#team .bottom .member h3 {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
}
#team .bottom .member span {
  font-size: 10px;
  color: #838181;
  text-transform: uppercase;
  margin-left: 5px;
}
#team .bottom .member figure:hover ul {
  display: block;
}
#team .bottom .member figure {
  position: relative;
}
#team .bottom .member figure ul {
  background-color: #007bff;
  position: absolute;
  list-style: none;
  padding: 5px 5px;
  height: 93%;
  display: none;
}
#team .bottom .member figure ul li {
  margin-bottom: 10px;
}
#team .bottom .member figure ul li a {
  color: #d8d8d8;
}
#team .bottom .member figure img {
  width: 100%;
  height: 90%;
}

#portfolio {
  margin-top: 50px;
  width: 60%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#portfolio h2 {
  color: #007bff;
  font-weight: 900;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 30px;
}
#portfolio .port-buttons {
  margin: auto;
  text-align: center;
}
#portfolio .port-buttons .btn-primary {
  background-color: rgb(11, 123, 214);
  width: 60px;
  padding: 8px;
  font-size: 12px;
  text-align: center;
  justify-content: center;
  border-radius: 30px;
  text-decoration: none;
  color: wheat;
  border: rgb(11, 123, 214);
  margin-right: 10px;
}

#services {
  margin-top: 50px;
  width: 60%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#services h2 {
  color: #007bff;
  font-weight: 900;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 30px;
}
#services .services-cards {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
#services .services-cards .top {
  width: 100%;
}
#services .services-cards .top .card {
  margin-left: 10px;
  width: 31%;
  display: inline-block;
}
#services .services-cards .top .card h3 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 8px;
}
#services .services-cards .top .card p {
  width: 90%;
  font-size: 12px;
  color: #838181;
  margin-bottom: 10px;
}
#services .services-cards .top .card a {
  text-decoration: none;
  color: #007bff;
}
#services .services-cards .top .card .card-icon {
  color: #007bff;
  font-size: 2rem;
}
#services .services-cards .bottom {
  margin-top: 20px;
  width: 100%;
}
#services .services-cards .bottom .card {
  margin-left: 10px;
  width: 31%;
  display: inline-block;
}
#services .services-cards .bottom .card h3 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 8px;
}
#services .services-cards .bottom .card p {
  width: 90%;
  font-size: 12px;
  color: #838181;
  margin-bottom: 10px;
}
#services .services-cards .bottom .card a {
  text-decoration: none;
  color: #007bff;
}
#services .services-cards .bottom .card .card-icon {
  color: #007bff;
  font-size: 2rem;
}

#testimonials {
  margin-top: 50px;
  width: 60%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#testimonials h2 {
  color: #007bff;
  font-weight: 900;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 35px;
}
#testimonials .buttons {
  text-align: center;
  margin-top: 20px;
}
#testimonials .buttons button {
  padding: 3px 3px 3px 3px;
  border-radius: 50%;
  border-color: #007bff;
  background-color: #007bff;
}
#testimonials .testimonial p {
  text-align: center;
  width: 55%;
  font-size: 16px;
  font-style: italic;
  color: #838181;
  margin: auto;
  margin-bottom: 35px;
}
#testimonials .testimonial figure {
  display: flex;
  margin: auto;
  width: 15%;
}
#testimonials .testimonial figure img {
  width: 40px;
  border-radius: 50%;
}
#testimonials .testimonial figure p {
  margin: auto;
  font-size: 12px;
}

#pricing {
  margin-top: 50px;
  width: 70%;
  margin: auto;
}
#pricing h2 {
  color: #007bff;
  font-weight: 900;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 35px;
}
#pricing .pricing-cards {
  margin-left: 80px;
  width: 100%;
}
#pricing .pricing-cards .pricing {
  width: 30%;
  display: inline-block;
}
#pricing .pricing-cards .pricing .get-in-touch {
  margin-left: 35px;
}
#pricing .pricing-cards .pricing .get-in-touch a {
  background-color: rgb(11, 123, 214);
  width: 100px;
  padding: 8px 20px 10px 20px;
  font-size: 12px;
  text-align: center;
  justify-content: center;
  border-radius: 30px;
  text-decoration: none;
  color: wheat;
}
#pricing .pricing-cards .pricing .get-in-touch:hover a {
  background-color: #000;
}
#pricing .pricing-cards .pricing h3 {
  margin-bottom: 20px;
  font-weight: 400;
  margin-left: 40px;
}
#pricing .pricing-cards .pricing .money span {
  font-size: 30px;
  color: #007bff;
  margin: auto;
  margin-left: 35px;
}
#pricing .pricing-cards .pricing ul {
  margin-top: 20px;
  color: #838181;
  width: 78%;
  height: 200px;
}
#pricing .pricing-cards .pricing ul li {
  position: relative;
  list-style-type: none;
  padding-left: 18px;
  margin-bottom: 15px;
  font-size: 12px;
}
#pricing .pricing-cards .pricing ul li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
  width: 3px;
  height: 8px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #43b86a;
  transform-origin: bottom left;
  transform: rotate(45deg);
}

#questions {
  margin-top: 50px;
  width: 60%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#questions h2 {
  color: #007bff;
  font-weight: 900;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 35px;
}
#questions .faquestions {
  display: flex;
}
#questions .faquestions .left {
  width: 50%;
}
#questions .faquestions .left .faq h3 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 8px;
}
#questions .faquestions .left .faq p {
  width: 90%;
  font-size: 12px;
  color: #838181;
  margin-bottom: 10px;
  margin-top: 10px;
}
#questions .faquestions .right {
  width: 50%;
}
#questions .faquestions .right .faq h3 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 8px;
}
#questions .faquestions .right .faq p {
  width: 90%;
  font-size: 12px;
  color: #838181;
  margin-bottom: 10px;
  margin-top: 10px;
}

#no-name {
  margin-top: 110px;
  width: 60%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#no-name .container {
  display: flex;
}
#no-name .container figure {
  width: 100%;
  margin-right: 40px;
}
#no-name .container figure img {
  width: 90%;
}
#no-name .container .content {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
#no-name .container .content .card {
  margin-left: 10px;
  width: 45%;
  display: inline-block;
}
#no-name .container .content .card h3 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 8px;
}
#no-name .container .content .card p {
  width: 90%;
  font-size: 12px;
  color: #838181;
  margin-bottom: 10px;
}
#no-name .container .content .card a {
  text-decoration: none;
  color: #007bff;
}
#no-name .container .content .card .card-icon {
  color: #007bff;
  font-size: 2rem;
}

#blog {
  margin-top: 50px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
#blog h2 {
  color: #007bff;
  font-weight: 900;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 35px;
}
#blog .blog {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
#blog .blog .news {
  margin-left: 10px;
  width: 28%;
  display: inline-block;
  padding: 10px;
}
#blog .blog .news .news-content {
  margin-top: 10px;
  margin-bottom: 14px;
  font-size: 10px;
}
#blog .blog .news .news-content a {
  color: #007bff;
}
#blog .blog .news h4 {
  margin-top: 8px;
}
#blog .blog .news h4 a {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 8px;
}
#blog .blog .news h4:hover a {
  color: #007bff;
}
#blog .blog .news p {
  width: 95%;
  font-size: 11px;
  color: #838181;
  margin-bottom: 10px;
}
#blog .blog .news p a {
  color: #007bff;
}
#blog .blog .news a {
  text-decoration: none;
}
#blog .blog .news a img {
  width: 90%;
}
#blog .blog .news .card-icon {
  color: #007bff;
  font-size: 2rem;
}

#contact {
  margin-top: 50px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
}
#contact h2 {
  color: #007bff;
  font-weight: 900;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 35px;
}
#contact .contacts {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
}
#contact .contacts .contact {
  width: 30%;
  margin: auto;
  font-size: 12px;
  text-align: center;
}
#contact .contacts .contact i {
  display: block;
  color: #007bff;
  margin-left: 15px;
}
#contact .contacts .contact a {
  color: #007bff;
}
#contact .contacts .contact p {
  width: 95%;
}
#contact .form {
  width: 90%;
  margin: auto;
}
#contact .form form label {
  font-size: 10px;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}
#contact .form form input {
  outline-color: #007bff;
  border: 1px solid rgb(183, 208, 216);
  border-radius: 35px;
  width: 90%;
  height: 30px;
  padding-left: 10px;
}
#contact .form form .form-group {
  display: flex;
}
#contact .form form .form-group .fname {
  width: 47%;
}
#contact .form form .form-group .lname {
  width: 47%;
}
#contact .form form h4 {
  font-weight: 400;
  margin-bottom: 20px;
}
#contact .form form .form-input textarea {
  outline-color: #007bff;
  border: 1px solid rgb(183, 208, 216);
  border-radius: 25px;
  padding-left: 10px;
  padding-top: 8px;
  font-size: small;
}
#contact .form form .form-submit {
  margin-top: 10px;
}
#contact .form form .form-submit input {
  background-color: rgb(11, 123, 214);
  width: 115px;
  height: 35px;
  padding-left: 0;
  font-weight: 700;
  font-size: 11px;
  text-align: center;
  justify-content: center;
  border-radius: 35px;
  text-decoration: none;
  color: wheat;
  outline: #007bff;
}
#contact .form form .form-submit:hover input {
  background-color: #000;
}

.footer {
  background-color: #333333;
  width: 100%;
  height: 70vh;
  justify-content: center;
}
.footer .all {
  width: 60%;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 12px;
  color: #737373;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid #737373;
}
.footer .all h3 {
  font-size: 12px;
  color: white;
  font-weight: 500;
  margin-top: 80px;
}
.footer .all .about {
  width: 30%;
  margin-right: 20px;
}
.footer .all .about p {
  margin-top: 10px;
}
.footer .all .nav {
  width: 15%;
  margin-right: 20px;
}
.footer .all .nav ul {
  margin-top: 10px;
}
.footer .all .nav ul li {
  list-style-type: none;
  margin-top: 10px;
}
.footer .all .nav ul li a {
  color: #838181;
  text-decoration: none;
}
.footer .all .social {
  width: 15%;
  margin-right: 20px;
}
.footer .all .social ul {
  margin-top: 10px;
}
.footer .all .social ul li {
  margin-right: 15px;
  list-style-type: none;
  display: inline;
}
.footer .all .social ul li a {
  color: #838181;
  text-decoration: none;
}
.footer .all .subs {
  display: inline-block;
  width: 20%;
}
.footer .all .subs form {
  margin-top: 10px;
  display: flex;
}
.footer .all .subs form input {
  width: 60%;
  height: 20px;
  outline: none;
  background-color: #333333;
  border: 1px solid rgb(153, 153, 153);
  padding: 5px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
.footer .all .subs form button {
  width: 40%;
  background-color: #d8d8d8;
  color: #000000;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  padding: 5px;
  border: 1px solid rgb(153, 153, 153);
}/*# sourceMappingURL=index.css.map */